---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | xiaoyuanzhu" description="About xiaoyuanzhu">
	<div class="stack gap-20 content-wrapper">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			/>

			<section>
				<h2 class="section-title">Vision</h2>
				<div class="content">
					<p>
						Let everyone harness the power of technology like AI, bring ideas to life and make an impact.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Belief</h2>
				<div class="content">
					<p>
						People's irreplaceable value lies in vision, creativity, and purpose - amplified by tools, not threatened by them.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Focus</h2>
				<div class="content">
					<p>
						Helping people build software and gain power from it - empowering creators, consumers, and everyday innovators to command technology and build solutions.
					</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.content-wrapper {
		flex-grow: 1;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
